
* {
    padding:0;
    margin:0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  color: white;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.2);
  font-family: 'Play', sans-serif;
  min-height: 100%;
}

body {
  background-image: url(./back3.jpg);
  background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#game-area {
    font-size: 1.6rem;
    width: 60%;
    margin: 0 2rem 0 auto;
    display: flex;
    flex-direction: column;
}

/* BUTTONS */

.play,
.match,
.nomatch {
    width: 8rem;
    border: none;
    border-radius: 3rem;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 4px 4px 2px rgba(252, 250, 250, 0.2);
 }

.play {
    margin-top: 3rem;
    background: #FFE162;
    color: #FF6464; 
    
} 

.play:hover {
    background: #FF6464;
    color: #FFE162; 

} 

.match {
    margin: 1rem;
    background: #357C3C;
    color: #8BDB81;
}

.nomatch {
    margin: 1rem;
    background: #CD1818;
    color: #FFA1C9;
}

.match:hover, .nomatch:hover {
    border: 2px solid white;
   
}



/* SCORE AREA */


.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

  h3 {
     font-size: 2rem;
 }

.items {
     font-size: 2rem;
     padding: 0.5rem 0;
 }




/* IMAGE AREA & RULES */

.imageArea,
 .stats {
     min-height: 30vh;
 }

 .imageArea {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
 }

h1 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
}

 .space-y{
     margin-top: 1rem;
 }

 img {
     width: 100%;
     
     border:solid #fff;  
        border-width:6px 6px 30px 6px;  
        box-shadow:1px 1px 5px #333; 
        -webkit-box-shadow:1px 1px 5px #333;  
        -moz-box-shadow:1px 1px 5px #333;  
 }

 .fade {
     animation-name: fade;
     animation-duration: 1s;
 }

 @keyframes fade {
     from{
        opacity: 0;
     }
     to {
         opacity: 1;
     }
 }


 /* MOBILE */

 @media all and (max-width: 600px){

     #game-area {
        width: 75%;     
        margin: 1rem 2rem 0 auto;    
    }

   



 }




footer {
  width: 100%;
  margin: 15rem auto 4rem auto;
  font-size: 14px;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  padding-left: 2rem;
}

footer a {
  text-decoration: none;
  color: #000000;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
  padding-right: 4px;
  
}

footer a:hover {
  color: #FFE162;
}